{% extends 'base.html' %}
{% load custom_filters %}
{% load crispy_forms_tags %}
{% block title %}
Home
{% endblock %}

{% block content %}

{% for blog in blogs %}
<h2>{{ blog.blog_title }}</h2>
<h6><i>{{ blog.publish_date  }}</i></h6>
<div class="row">
    <div class="col-sm-4">
        <img src="/media/{{ blog.blog_image }}" width="200px">
    </div>


    <div class="col-sm-8">
        <p>{{ blog.blog_content|range_filter|linebreaks }}
            <a href="{% url 'Blog:read_post' slug=blog.slug %}">Read More</a>
        </p>
        <h6>Posted By: {{ blog.author }}</h6>
        <h6>{{ blog.blog_comment.count }} Comment(s)</h6>

    </div>

</div>
{% endfor %}

{% endblock %}